.noteBody{
    background-image: url("../../images/sticky-note1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 230px;
    padding: 25px;
    margin: 25px;
}

p{
    font-size: 19px;
    text-align: left;
}
.outText {
    text-align: right;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.4);
}
