.App {
  text-align: center;
}


.App-header {

}

.fixedbutton {
position: fixed ;

bottom: 25px;
}
body {
   background-image: url("images/background-cement-concrete-242236.jpg");
}
.logoIcon{
  margin-right: 10px;
}